.article-container {
    width: 200px;
    height: 250px;
    margin: 15px auto 15px auto;
    border: solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 15px;
}

.article-image {
    width: 100%;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.read-button {
    text-decoration: none;
    background-color: #38c8bc;
    padding: 10px;
    border: solid 1px black;
    border-radius: 20px;
    color: black;
}
