.video-article-container {
    margin: 15px;
}
.video-description {
    text-align: center;
    font-family: Roboto;
}
.video {
    margin-top: 50px;
    text-align: center;
}
@media only screen and (min-width: 1037px) {
    main {
        width: 50%;
        margin: 30px auto;
    }
}
