*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
header {
    height: 5vh;
    margin: auto;
}
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.somelinks-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: black;
    color: white;
    font-family: "Playfair Display";
    text-align: left;
}
.contactus-container {
    padding: 10px;
    background-color: black;
    color: white;
    font-family: Roboto;
}
.contactus-title {
    font-size: 24px;
    font-family: "Playfair Display";
    margin-bottom: 15px;
}
.newsletter-container {
    background-color: black;
    color: white;
    padding: 10px;
}
.somelink {
    text-decoration: none;
    color: white;
    margin: 15px;
    font-family: "Playfair Display"
}
.link {
    text-decoration: none;
    color: black;
}
.logo {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-family: "Playfair Display";
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input-container {
    margin: 15px 0;
    border: solid 1px black;
    padding: 5px;
}
.newsletter-container {
    background-color: #000000;
}
.newsletter-button {
    background-color: #38c8bc;
    padding: 10px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    font-family: "Playfair Display";
}
.subscribe-button {
    padding: 5px;
    margin-top: 10px;
    background-color: #ffffff;
    border: solid 1px black;
}
.menu {
    clear: both;
    text-align: center;
    max-height: 0;
    transition: max-height .2s ease-out;
}
/* Mobile friendly menu that must */
/* turn up when clicking on the */
/* burger menu */
.mobilemenu {
    display: none;
    clear: both;
    text-align: center;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* Show burger icon to the far right */
/* Change mouse cursor on hover from */
/* arrow to hand with finger */
.menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 15px 20px;
    position: relative;
    user-select: none;
    color: white;
}
/* Make beef in burger */
.navicon {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
/* Make bread top and bottom */
.navicon:before,
.navicon:after {
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.navicon:before {
    top: 5px;
}

.navicon:after {
    top: -5px;
}

/* End of bread making */

/* ---- Menu Button ---- */

/* Do not show checkbox */
.menu-btn {
    display: none;
}
/* Show menu when you check button */
.menu-btn:checked ~ .mobilemenu {
    display: block;
    max-height: 300px;
}
/* Animate button on click */
.menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
.menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
.menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* End button animation */
.nav-link {
    display: block;
    color: #000000;
    text-align: center;
    font-size: 18px;
    background-color: #38c8bc;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    font-family: "Playfair Display";
}
.menu-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin-left: 25px;
    font-family: "Playfair Display";
}
.navigation_container {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    height: 40px;
}

.menu {
    list-style: none;
    overflow: hidden;
    margin-top: 1px;
    margin-bottom: 2px;
}

.menu_item {
    font-size: 12px;
    padding: 5px 5px 5px 20px;
    font-family: "Playfair Display";
}
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #38c8bc;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    color: white;
    border: white solid 1px;
}
/* Add a white background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
    color: black;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay on top always */
    z-index: 1; /* Stay on top always */
    left: 0;
    top: 0;
    width: 100%; /* Full screen width */
    height: 100%; /*Full screen height */
    background-color: rgba(0,0,0,0.4); /*Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    padding: 25px;
    border: 1px solid #888888;
    width: 100%; /* More or less, depending on content and screen size */
    height: 300px;
    box-shadow: 6px 6px 6px rgba(0,0,0,-0.8);
}

.close {
    float: right;
    margin-right: 10px;
    color: #000000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover {
    color: red;
    cursor: pointer;
}

.animate {
    animation: animatezoom 0.6s; /* call animatezoom keyframes */
}
@keyframes animatezoom {
    from {margin-left: 100%}
    to {margin-left: 0%}
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
@media only screen and (min-width: 1037px) {
    /* Menu on wide screen */
    .menu_item {
        float: left;
    }
    .menu {
        clear: none;
        max-height: none;
        padding: 5px;
        text-align: center;
        border-top: solid 1px black;
        border-bottom: solid 1px black;
    }
    .mobilemenu {
        clear: none;
        float: right;
        max-height: none;
    }
    .menu-icon {
        display: none;
    }
    header {
        height: 6.5vh;
        margin: auto;
    }
   .navigation_container {
        height: 76px;
    }
    footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #000000;
        align-items: center;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 10% auto 15% auto;
        padding: 25px;
        border: 1px solid #888888;
        width: 40%; /* More or less, depending on content and screen size */
        height: 300px;
        box-shadow: 6px 6px 6px rgba(0,0,0,-0.8);
    }
        .menu-link:hover {
        color: #ffffff;
        background-color: #38c8bc;
        padding: 2px;
    }

}
