.tip-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid 1px black;
    align-items: center;
}
.tip-image {
    margin: 15px;
}
.tip-text {
    margin: 15px;
}
@media only screen and (min-width: 1037px) {
    main {
        width: 50%;
        margin: 30px auto;
    }
    .tip-container {
        flex-direction: row;
    }
}
